<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.godengo.naturalawakenings"
        version   = "2.0.0">
    <name>Natural awakenings</name>

    <description>
        Natural awakenings
    </description>

    <author href="http://getmimbu.com" email="detoxikaided@gmail.com">
        Natural awakenings
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="orientation"      				value="portrait" />
    <preference name="target-device"    				value="universal" />
    <preference name="fullscreen"       				value="false" />
	<preference name="show-splash-screen-spinner" 		value="true" />
	<preference name="auto-hide-splash-screen" 			value="true" />
	<preference name="splash-screen-duration" 			value="1500" />
    <preference name="stay-in-webview"                  value="true" />

    <icon src="assets/images/Icon-72.png" />
	<icon src="assets/images/Icon-72.png"   gap:platform="android"		gap:density="hdpi" />
	<icon src="assets/images/icon-72.png"   gap:platform="android"		gap:density="xhdpi" />
    <icon src="assets/images/icon-72.png"	gap:platform="ios"			width="72" height="72" />

	<gap:splash src="assets/images/iphone.png" 	gap:platform="android" 	gap:density="ldpi" />
	<gap:splash src="assets/images/iphone.png" 	gap:platform="android" 	gap:density="mdpi" />
    <gap:splash src="assets/images/iphone.png" 	gap:platform="android" 	gap:density="hdpi" />
	<gap:splash src="assets/images/iphone.png" 	gap:platform="android" 	gap:density="xhdpi" />
	<gap:splash src="assets/images/iphone.png" 	gap:platform="ios" 		width="320" height="480" />
	<gap:splash src="assets/images/iphone.png" 	gap:platform="ios" 		width="640" height="960" />
	<gap:splash src="assets/images/iphone.png" 	gap:platform="ios" 		width="640" height="1136" />
	
	<plugin name="Geolocation" value="CDVLocation" />
	<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
	
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	
	<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
	<feature name="InAppBrowser">
		<param name="android-package" value="org.apache.cordova.InAppBrowser" />
	</feature>
	<feature name="InAppBrowser">
		<param name="ios-package" value="CDVInAppBrowser" />
	</feature>
	<plugin name="ChildBrowser" value="com.phonegap.plugins.childBrowser.ChildBrowser"/>
	
	<access origin="*" browserOnly="true" />
	
</widget>